<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- 在下面添加xml配置 -->
	<bean id="arithmeticCalculator" class="com.javahly.ArithmeticCalculatorImpl"></bean>

	<bean id="vlidationAspect" class="com.javahly.VlidationAspect"></bean>

	<bean id="loggingAspect" class="com.javahly.LoggingAspect"></bean>

	<!--配置aop-->
	<aop:config>
		<!--配置切点表达式-->
		<aop:pointcut id="pointcut" expression="execution(* com.javahly.ArithmeticCalculator.*(int ,int ))"/>
		<aop:aspect ref="loggingAspect" order="2">
			<aop:before method="beforeMethod" pointcut-ref="pointcut"/>
			<aop:after method="afterMethod" pointcut-ref="pointcut"/>
			<aop:after-throwing method="afterThrowing" pointcut-ref="pointcut" throwing="e"/>
			<aop:after-returning method="afterReturning" pointcut-ref="pointcut" returning="result"/>
			<aop:around method="aroundMethod" pointcut-ref="pointcut"/>
		</aop:aspect>
		<aop:aspect ref="vlidationAspect" order="1">
			<aop:before method="validateArgs" pointcut-ref="pointcut"/>
 		</aop:aspect>
	</aop:config>

</beans>
